/**********************
TESTS
**********************
body{
    background-color: red;
}
/**/

/**********************
PRINCIPAL
**********************/
h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/**********************
NAV
**********************/


/**********************
HEADER
**********************/
.nomargin.nopadding{
    padding: 0px;
    margin: 0px;
}

header{
    height: 370px;
}

header div{
    /* background-color: #00000000; */
    background-color: #e6e9ed;
}

figure{
    text-align: center;
    margin: 65px 90px 65px 90px;
}

figcaption{
    text-align: center;
}

h1{
    margin-top: 60px;
    font-size: 3.5rem;
    font-weight: 100;
}

/**********************
PARAGRAFS
**********************/
h3{
    margin-top: 2.5rem
}

p{
    margin-top: 0.5rem;
    font-weight: 500;
}

#planification{
    margin-left: 0px;
    padding-left: 0px;
}

#Analysis{
    margin-right: 0px;
    padding-right: 0px;
}
