/**********************
PRINCIPAL
**********************/

body{

}

/**********************
COLUMNS
**********************/
.row div div{
    height: 40px;

}

.line1 div div{
    background-color: red;
}

.line2 div div{

    background-color: orange;
}

.line3 div div{
    background-color: yellow;
}
