/**********************
PRINCIPAL
**********************/

body{
  
}

/**********************
COLUMNS
**********************/
/* structure */
.row div div{
    height: 40px;
    margin-bottom: 1rem;
}

/* colors */
.line1{
    background-color: yellow;
}

.line2{
    background-color: blue;
}

.line3{
    background-color: red;
}

.line4{
    background-color: green;
}

.line5{
    background-color: grey;
}

.line6{
    background-color: purple;
}

.line7{
    background-color: orange;
}

.line8{
    background-color: turquoise;
}
